{% extends 'base.html.twig' %}
{% block content %}
<!-- Page Content -->
<section id="mall" class="inner_page">
    <div class="container">
        <div class="box">
            <div class="center">
                <h3>{{ vendor.title }}</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                   {{ include('DesoukOnlineMallBundle:Front:User/userMenu.html.twig', { 'selected': 'article' }) }}
		            {% for flashMessage in app.session.flashbag.get('success') %}
		            	<div class="alert alert-success">
						    <a href="#" class="close" data-dismiss="alert">&times;</a>
						    <strong>{{ flashMessage }}</strong> 
						</div>
					{% endfor %}
		            <div id="vendor_edit_form">
	                    <div class="raw">
	                        <div class="panel panel-default">
	                            <div class="panel-heading">
	                                المقالات
	                            </div>
	                            <!-- /.panel-heading -->
	                            <div class="panel-body">
	                            	<div class="user_new_form">
	                            		<ul id = "vedor_user_menu">
									    	<li><a class="btn btn-primary "  href="{{ path('front_editVendor_articles_new',{'vendor':vendor.id}) }}">إضافة مقال جديد </a></li>
										</ul>
	                            	</div>
                                    <table class="table table-striped table-bordered table-hover ">
                                        <tbody role="alert">
                                        {% for article in vendor.articles %}

                                            <tr>
                                                <td width="50%">{{article.title}}</td>
                                                <td><a href="{{ path('front_editVendor_articles_edit',{'article_id':article.id}) }}">تعديل</a></td>
                                                <td><a href="{{ path('front_vendor_deleteArticle',{'vendor':vendor.id,'article_id':article.id}) }}">حذف</a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
	                            </div>
	                            <!-- /.panel-body -->
	                            {{ knp_pagination_render(realestates) }}
	                        </div>
	                    </div>
						
		            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
{% endblock %}