{% extends 'base.html.twig' %}
{% block content %}
<!-- Page Content -->
<section id="mall" class="inner_page">
    <div class="container">
        <div class="box">
            <div class="center">
                <h3>{{ vendor.title }}</h3>
            </div>
            <div class="row">
                <div class="col-md-12">
                	{{ include('DesoukOnlineMallBundle:Front:User/userMenu.html.twig', { 'selected': 'product' }) }}
		            {% for flashMessage in app.session.flashbag.get('success') %}
		            	<div class="alert alert-success">
						    <a href="#" class="close" data-dismiss="alert">&times;</a>
						    <strong>{{ flashMessage }}</strong> 
						</div>
					{% endfor %}
		            <div id="vendor_edit_form">
		            	{{ form_start(product_form) }}
                		{{ form_row(product_form.name) }}
                		{{ form_row(product_form.description) }}
                		{{ form_row(product_form.code) }}
                		{{ form_row(product_form.price) }}
                		{{ form_row(product_form.vendorProductCategory) }}
                		{{ form_row(product_form.isInHome) }}
                		{{ form_row(product_form.file) }}
                		<div class="form-group ">
		            		<img width="100" height="100" src="{{ product.getWebPath() }}">
	            		</div>
                		{{ form_widget(product_form) }}
						{{ form_end(product_form) }}
	                    <div class="raw">
	                        <div class="panel panel-default">
	                            <div class="panel-heading">
	                                الصور الاضافية "يمكنك إضافة ثلاث صور اضافية "
	                            </div>
	                            <!-- /.panel-heading -->
	                            <div class="panel-body">
	                            	{% if product.images|length < 3 %}
	                            	<div class="user_new_form">
	                            		{{ form_start(product_image_form) }}
	                            		{{ form_widget(product_image_form) }}
										{{ form_end(product_image_form) }}
	                            	</div>
	                            	{% endif %}
                                    <table class="table table-striped table-bordered table-hover ">
                                        <tbody role="alert">
                                        {% for image in product.images %}

                                            <tr>
                                                <td><img width="200"  src="{{ image.getWebPath() }}"></td>
                                                <td><a href="{{ path('front_vendor_products_deleteImge',{'product':product.id,'image_id':image.id}) }}">حذف</a></td>
                                            </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
	                            </div>
	                            <!-- /.panel-body -->
	                        </div>
	                    </div>
						
		            </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</section>
{% endblock %}