{% extends 'base.html.twig' %}
{% block inner_content %}
    <!-- Page Content -->
    <div id="mall_category" class="">
        <div class="reaestate_box">
            <div class="row">
                <div class="center">
                    <h3>المعروض للبيع فى دسوق</h3>
                    {% include 'horizontal_social.html.twig' %}
                </div>
                {{ render(controller('DesoukOnlineForSaleBundle:Front:sideFilter', { 'cat': app.request.get('cat') })) }}
                <div class="row reaestate_items col-md-9">
                    {% for forSale in forSales %}
                        <div class="col-sm-4 col-lg-4 col-md-4 ">
                            <div class="reaestate_item_inner thumbnail">
                                <div class="realestate_image">
                                    <a href="{{ path('forSale_show',{'slug':forSale.slug}) }}">
                                        <img src="{{ (forSale.path())?forSale.getWebPath():asset('images/default/default_car_image.png') }}"
                                             alt="">
                                    </a>
                                </div>
                                <div class="caption">
                                    <h4>
                                        <a href="{{ path('forSale_show',{'slug':forSale.slug}) }}">{{ forSale.title }}</a>
                                    </h4>
                                    <label>السعر :</label>
                                    <span>{{ forSale.price }} جنيه</span>
                                    <br>
                                    {% if forSale.category %}
                                        <label>القسم :</label>
                                        <span>{{ forSale.category.title }}</span>
                                    {% endif %}
                                    {{ forSale.summary|slice(0,55) }}
                                    <a href="{{ path('forSale_show',{'slug':forSale.slug}) }}" class="">
                                        المزيد </a>

                                    <div class="desouk_online_rating">
                                        {{ ("for_sale_"~forSale.id)|show_rating|raw }}
                                    </div>
                                </div>
                            </div>
                        </div><!--/.portfolio-item-->
                    {% endfor %}
                    {{ knp_pagination_render(forSales) }}
                </div>
            </div>
        </div>
        <!--/.box-->
        <!--/.container-->
    </div>
{% endblock %}