{% extends 'base.html.twig' %}
{% block inner_content %}
    <!-- Page Content -->
    {% block website_meta_title %}
        <meta name="title" content="{{"دسوق اون لاين | وظائف"~' | '~job.title}}"/>
    {% endblock %}
    {% block website_description %}
        <meta name="description" content="{{ job.description|striptags }}"/>
    {% endblock %}
    {% block og_image %}
        <meta property="og:image" content="{{ asset('images/logo.jpg') }}"/>
        {#<meta property="og:image:secure_url" content="{{ app.request.uri }}"/>#}
    {% endblock %}
    {% block og_title %}
        <meta property="og:title"
              content="{{"دسوق اون لاين | وظائف"~' | '~job.title}}"/>
    {% endblock %}
    {% block og_description %}
        <meta property="og:description" content="{{ job.description|striptags }}"/>
    {% endblock %}
    {% block og_author %}
        {#<meta property="article:author" content="دسوق اون لاين"/>#}
    {% endblock %}
    {% block og_type %}
        <meta property="og:type" content="دسوق اون لاين"/>
    {% endblock %}
    <div id="mall_category" class="">
        <div class="container">
            <div class="center">
                <h3>{{ job.title }}</h3>
                {% include 'horizontal_social.html.twig' %}
            </div>
            <hr>

            <div class="meta">
                    <span>
                        <strong>
                            االمعلن :
                        </strong>
                    </span>
                <span class="author"><a href="#">{{ job.owner }}</a></span>
                <span><strong>تاريخ الاعلان :</strong></span>
                <span class="author"><a href="#"> {{ job.updatedAt|date('Y/m/d') }}</a></span>
            </div>
            <p>{{ job.description|raw }}</p>
        </div>
    </div>
{% endblock %}