<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Desouk online| Desouk Mall</title>
    <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">
    <link href="{{asset('css/font-awesome.min.css')}}" rel="stylesheet">
    <link href="{{asset('css/prettyPhoto.css')}}" rel="stylesheet">
    <link href="{{asset('css/main.css')}}" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="{{asset('js/html5shiv.js')}}"></script>
    <script src="{{asset('js/respond.min.js')}}"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{{asset('images/ico/favicon.ico')}}?v=21">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{asset('images/ico/apple-touch-icon-144-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{asset('images/ico/apple-touch-icon-114-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{asset('images/ico/apple-touch-icon-72-precomposed.png')}}">
    <link rel="apple-touch-icon-precomposed" href="{{asset('images/ico/apple-touch-icon-57-precomposed.png')}}">

    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('js/jquery.isotope.min.js') }}"></script>
    <script src="{{ asset('js/jquery.prettyPhoto.js') }}"></script>
    <script src="{{ asset('js/main.js') }}"></script>
    <link href="{{ asset('css/shop-homepage.css') }}" rel="stylesheet">
    <link href="{{ asset('css/meisa_styles.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/fonts.css') }}" type="text/css" charset="utf-8" />

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"  type="text/javascript" ></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"  type="text/javascript" ></script>
    <link rel="stylesheet" href="{{ asset('bundles/desoukonlinerating/css/rating.css') }}"/>
    <script type="text/javascript" src="{{ asset('bundles/desoukonlinerating/js/rating.js') }}"></script>
</head><!--/head-->

<body data-spy="scroll" data-target="#navbar" data-offset="0">
{{ render(controller('DesoukOnlineHomeBundle:Front:header')) }}
{% block content %}{% endblock %}
{{ render(controller('DesoukOnlineHomeBundle:Front:footer')) }}
</body>
</html>