<section id="main-slider" class="carousel" style="background-image:url({{ asset('images/slider-bg.jpg') }}); ">
    <div class="carousel-inner">
        {% for banner in banners %}
            <div class="item {{ (loop.index==1)?'active':'' }}">
                <div class="container">
                    <div class="carousel-content">
                        <h1>
                            {{ banner.title }}
                        </h1>

                        <p class="lead">
                            {{ banner.body|striptags }}
                        </p>
                    </div>
                </div>
            </div><!--/.item-->
        {% endfor %}
    </div>
    <!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>

    <div class="row home-search-form">
        <div class="col-lg-6">
            <form action="{{ path('search') }}" method="get">
                <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">ابحث !</button>
                </span>
                    <input type="text" name="search_string" id="search_string" class="form-control" placeholder="ابحث عن">
                    <input type="hidden" name="search_in" id="search_in">

                    <div class="input-group-btn">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                aria-expanded="false"><span class="text">ابحث فى</span><span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a value="real_estate" href="#">عقارات</a></li>
                            <li><a value="for_sale" href="#">للبيع</a></li>
                            <li><a value="cars" href="#">سيارات</a></li>
                            <li class="divider"></li>
                            <li><a value="desouk_mall" href="#">دسوق مول</a></li>
                            <li><a value="delivery" href="#">ديلفرى</a></li>
                            <li><a value="jobs" href="#">وظايف</a></li>
                            <li><a value="desouk_online" href="#">دسوق اونلاين</a></li>
                        </ul>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </form>
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <style>
        span.twitter-typeahead {
            display: inline !important;
        }
    </style>
</section><!--/#main-slider-->
