<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {#<a class="navbar-brand" href="{{ path('home') }}"></a>#}
                <div id="logo" class="navbar-brand">
                    <a class="" href="{{ path('home') }}">
                        <img src="{{ asset('images/logo.png') }}">
                    </a>
                </div>


            </div>
            <div class="collapse navbar-collapse">
                {{ "header_1"|show_menu|raw }}
                <ul class="nav navbar-nav" style="padding-right: 0;">
                    {% if app.user %}
                        <li class=" " id=""><a href="{{ path('sonata_user_security_logout') }}">الخروج</a></li>
                    {% else %}
                        <li class=" " id=""><a href="{{ path('user_login') }}">الدخول</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->