{% extends 'base.html.twig' %}
{% block homecontent %}
    {% block og_image %}
        <meta property="og:image" content="{{ app.request.uriForPath( '/images/logo.jpg') }}"/>
        <meta property="og:image:secure_url" content="{{ app.request.uri }}"/>
    {% endblock %}
    {{ render(controller('DesoukOnlineHomeBundle:Front:banner')) }}
    {{ render(controller('DesoukOnlineHomeBundle:Front:mainComponents')) }}
    {{ render(controller('DesoukOnlineHomeBundle:Front:recentProducts')) }}
    {#{{ render(controller('DesoukOnlineSponsorBundle:Front:index')) }}#}
    {% block search %}{% endblock %}
    <div class="container">{% include 'horizontal_social.html.twig' %}</div>
{% endblock %}