<section id="portfolio" class="home_portfolio">
    <div class="container">
        <div class="box">
            <div class="center gap">
                <h3>الجديد من دسوق اونلاين</h3>
            </div>
            <!--/.center-->
            <ul class="portfolio-filter">
                <li><a class="btn btn-primary active all_portfolio_button" href="#" data-filter="*">الكل</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".real_estate">عقارات</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".for_sale">للبيع</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".cars">سيارات</a></li>
                <li><a class="btn btn-primary" href="#" data-filter=".desouk_mall">دسوق مول</a></li>
                {#<li><a class="btn btn-primary" href="#" data-filter=".delivery">ديليفرى</a></li>#}
            </ul>
            <!--/#portfolio-filter-->
            <ul class="portfolio-items col-4">
                {% for product in real_estate %}
                    <li class="portfolio-item real_estate">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    <img src="{{ (product.getWebPath())?product.getWebPath():asset('images/default_real_estate.png') }}" alt="">
                                </a>
                            </div>
                            <h5>
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    {{ product.title }}
                                </a>
                            </h5>
                        </div>
                    </li><!--/.portfolio-item-->
                {% endfor %}
                {% for product in for_sale %}
                    <li class="portfolio-item for_sale">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">

                                    <img src="{{ (product.getWebPath())?product.getWebPath():asset('images/default_product_image') }}" alt="">

                                </a>
                            </div>
                            <h5>
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    {{ product.title }}
                                </a>
                            </h5>
                        </div>
                    </li><!--/.portfolio-item-->
                {% endfor %}
                {% for product in cars %}
                    <li class="portfolio-item cars">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    <img src="{{ (product.getWebPath())?product.getWebPath():asset('images/default_car_image') }}" alt="">
                                </a>
                            </div>
                            <h5>
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    {{ product.title }}
                                </a>
                            </h5>
                        </div>
                    </li><!--/.portfolio-item-->
                {% endfor %}
                {% for product in desouk_mall %}
                    <li class="portfolio-item desouk_mall">
                        <div class="item-inner">
                            <div class="portfolio-image">
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    <img src="{{ (product.getWebPath())?product.getWebPath():asset('images/default_product_image') }}" alt="">
                                </a>
                            </div>
                            <h5>
                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                    {{ product.name }}
                                </a>
                            </h5>
                        </div>
                    </li><!--/.portfolio-item-->
                {% endfor %}
                {#{% for product in delivery %}#}
                    {#<li class="portfolio-item delivery">#}
                        {#<div class="item-inner">#}
                            {#<div class="portfolio-image">#}
                                {#<a href="{{ path('vendor_product',{'slug':product.slug}) }}">#}
                                    {#<img src="{{ product.getWebPath() }}" alt="">#}
                                {#</a>#}
                            {#</div>#}
                            {#<h5>#}
                                {#<a href="{{ path('vendor_product',{'slug':product.slug}) }}">#}
                                    {#{{ product.title }}#}
                                {#</a>#}
                            {#</h5>#}
                        {#</div>#}
                    {#</li><!--/.portfolio-item-->#}
                {#{% endfor %}#}

            </ul>
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
</section><!--/#portfolio-->
