{% if app.user %}
    <div id="user_menu">
        <div class="panel panel-default">
            <div class="panel-heading">مرحبا  {{ user.username }}</div>
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">حسابى</button>
                <ul class="" role="menu">
                    {#<li><a href="{{ path('sonata_user_resetting_request') }}">تغيير كلمة المرور</a></li>#}
                    <li><a href="{{ path('sonata_user_security_logout') }}">تسجيل الخروج</a></li>
                </ul>
            </div>

            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">حسابات المحلات
                </button>
                <ul class="" role="menu">
                    {% if user.vendors|length == 0 %}
                        <li><a href="">لا يوجد لديك محلات فى دسوق مول</a></li>
                    {% endif %}
                    {% for vendor in user.vendors %}
                        <li><a href="{{ path('front_editVendor',{'vendor':vendor.id}) }}">{{ vendor.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            {% if user.vendors %}
                <div class="btn-group">
                    <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">زيارة المحلات
                    </button>
                    <ul class="" role="menu">
                        {% for vendor in user.vendors %}
                            <li><a href="{{ path('vendor',{'slug':vendor.slug}) }}">{{ vendor.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        {#{% else %}#}
        {#<div class="panel panel-default" id="user_security_panel">#}
        {#{% render controller("SonataUserBundle:Security:login") %}#}
        {#</div>#}
    </div>
{% endif %}
