{% if app.user %}
<div id="user_menu">
    <div class="panel panel-default">

    <div class="panel-heading">مرحبا  {{user.username}}</div>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">حسابى </button>
        <ul class="" role="menu">
        	<li ><a   href="">تغيير كلمة المرور</a></li>
        	<li ><a   href="">تسجيل الخروج</a></li>
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">حسابات المحلات </button>
        <ul class="" role="menu">
        	{% if user.vendors|length == 0 %}
        		<li ><a   href="">لا يوجد لديك محلات فى دسوق مول</a></li>
        	{% endif %}
        	{% for vendor in user.vendors %}
        		<li ><a   href="{{ path('front_editVendor',{'vendor':vendor.id}) }}">{{vendor.title}}</a></li>
        	{% endfor %}
        </ul>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown">حسابات الديليفرى </button>
        <ul class="" role="menu">
        	{% if user.deliveries|length == 0 %}
        		<li ><a   href="">لا يوجد لديك محلات فى دسوق ديليفرى</a></li>
        	{% endif %}
        	{% for delivery in user.deliveries %}
        		<li ><a   href="{{ path('front_editDelivery',{'delivery':delivery.id}) }}">{{delivery.title}}</a></li>
        	{% endfor %}
        </ul>
    </div>
</div>
    </div>
{% endif %}
