{% extends '::base.html.twig' %}
{% block breadcrumbs %}
    <section id="page-title">
        <div class="grid-bg">
            {{ render(controller('DesoukOnlineBannerBundle:Front:banner',{'configBanner':config.getfaqsBanner(), 'itemBanner':null})) }}
            <div class="container"> <!-- 1080 pixels Container -->
                <div class="full-width columns">
                </div>
            </div>
            <div class="container_title_stripe blue">
                <ul class="breadcrumb-nav clearfix">
                    <li><a href="{{ path('home') }}" class="link-sm">Home<span></span></a></li>
                    <li><a href="{{ path('support') }}">Support</a></li>
                    <li class="italic">FAQs</li>
                </ul>
                <h1>FAQs</h1>
            </div>
        </div>
    </section>
{% endblock %}
{% block content %}
    <section id="page-content" class="sidebar-layout">

        <div class="container"> <!-- 1080 pixels Container -->

            <!-- Content with right-aligned Sidebar -->
            <div class="columns-wrapper sb-left">

                <!-- Sidebar (left aligned) -->
                <aside id="sidebar" class="one-fourth columns page-left-col">

                    <!-- Side Menu -->
                    <div class="widget" data-smallscreen="yes">
                        <!-- show widget on a small-screen mobile device: "yes" or "no" -->
                        {{ render(controller('DesoukOnlineMenuBundle:Front:supportmenu',{'active':'faqs'})) }}
                    </div>
                </aside>
                <!-- Page Left Column -->
                <section id="main-content" class="three-fourths columns page-right-col">
                    <!-- Gallery -->
                    <div class="gallery-wrapper two-cols clearfix">
                        <!-- 1/2 page width -->
                        <div class="full-width columns">
                            <div class="offset-right-20px">
                                <form action="" id="category_selection">
                                    <select name="category">
                                        <option>Select to filter FAQs</option>
                                        {% for category in categories %}
                                            <option {{ category.slug==current_category?'selected':'' }}
                                                    value="{{ category.slug }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </form>
                            </div>
                            <div class="row">
                                <div class="">
                                    <div class="offset-right-20px">
                                        <section class="accordion">
                                            {% for faq in faqs %}
                                                <div class="toggle-trigger {{ (loop.index==1)?'active':'' }}"><a
                                                            href="#">
                                                        <h5>{{ faq.title }}</h5></a></div>
                                                <div class="toggle-container">
                                                    <div class="content">
                                                        {{ faq.description|raw }}
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end Portfolio Items -->

                </section>
                <!-- end Page Left Column -->

                <!-- Sidebar (right aligned) -->
                {% if news|length>0 %}
                    <aside id="sidebar" class="one-fourth columns page-right-col">

                        <!-- Recent News -->
                        <div class="widget separator" data-smallscreen="yes">
                            <h4 class="grey">Recent News</h4>
                            <ul class="list-nav">
                                {% for one_news in news %}

                                    <li>
                                        <a href="#">
                                            {{ one_news.name }}
                                            <br>
                    <span><em>
                            {{ one_news.date|date("M d Y") }}
                        </em>
                    </span>
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>


                    </aside>
                    <!-- end Sidebar -->
                {% endif %}

            </div>
            <!-- end columns-wrapper sb-right -->

        </div>
    </section>

    <script>
        $('#category_selection select').change(function () {
            $(this.form).submit();
        });
    </script>
    <style>
        #category_selection {
            text-align: right;
            display: block;
        }

        #category_selection select {
            display: inline-block;
        }
    </style>
{% endblock %}

