{% extends 'base.html.twig' %}
{% block seo %}
    {% if config['generalConfig'] and  config['bundleConfig'] %}
        {% block website_meta_title %}
            <meta name="title" content="{{ config.generalConfig.generalModulesPreTitle~'|'~config.bundleConfig.metaTitle }}"/>
        {% endblock %}
        {% block website_description %}
            <meta name="description" content="{{ config.bundleConfig.metaDescription }}"/>
        {% endblock %}
        {% block og_title %}
            <meta property="og:title" content="{{ config.generalConfig.generalModulesPreTitle~'|'~config.bundleConfig.metaTitle }}"/>
        {% endblock %}
        {% block og_description %}
            <meta property="og:description" content="{{ config.bundleConfig.metaDescription }}"/>
        {% endblock %}
        {% block og_type %}
            <meta property="og:type" content="article"/>
        {% endblock %}
    {% endif %}
{% endblock %}
{% block inner_content %}

    <!-- Page Content -->
    <div id="desouk_online_portfolio" class="">
        <div class="container">
            <div class="raw">
                <div class="center">
                    {% include 'horizontal_social.html.twig' %}
                </div>
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs center">
                        {% if web_development %}
                            <li class="col-md-4 col-xs-12 active"><a href="#tab_1-1"
                                                                     data-toggle="tab">{{ web_development.webDevelopmentTitle }}</a>
                            </li>
                        {% endif %}
                        {% if web_development %}
                            <li class="col-md-4 col-xs-12"><a href="#tab_2-2"
                                                              data-toggle="tab">{{ web_development.hostingTitle }}</a></li>
                        {% endif %}
                        {% if portfolio %}
                            <li class="col-md-4 col-xs-12"><a href="#tab_3-3"
                                                              data-toggle="tab">{{ portfolio.title }}</a></li>
                        {% endif %}
                    </ul>
                    <div class="tab-content center">
                        {% if web_development %}
                            <div class="tab-pane active" id="tab_1-1">
                                {% include '@DesoukOnlineWebDevelopment/Front/web_development_tab.html.twig' with {'web_development':web_development } %}
                            </div>
                        {% endif %}
                        {% if web_development %}
                            <div class="tab-pane " id="tab_2-2">
                                {% include '@DesoukOnlineWebDevelopment/Front/hosting_tab.html.twig' with {'web_development':web_development } %}
                            </div>
                        {% endif %}
                        {% if portfolio %}
                            <div class="tab-pane " id="tab_3-3">
                                {% include '@DesoukOnlineWebDevelopment/Front/portfolio_tab.html.twig' with {'portfolio':portfolio } %}
                            </div>
                        {% endif %}
                    </div>
                    <!-- /.tab-content -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}