{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="mall_category" class="inner_page">
        <div class="container">
            <div class="box">
                <div class="center">
                    <h3>{{ category.title }}</h3>

                    <p class="lead">{{ category.description|raw }}</p>
                    {% include 'horizontal_social.html.twig' %}
                </div>
                <ul class="portfolio-items col-4">
                    {% for vendor in category_vendors %}
                        <li class="portfolio-item apps">
                            <div class="item-inner">
                                <div class="portfolio-image">
                                    <a href="{{ path('vendor',{'slug':vendor.slug}) }}">
                                        <img src="{% path vendor.logo, 'preview' %}" alt="">
                                    </a>
                                </div>
                                <h5><a href="{{ path('vendor',{'slug':vendor.slug}) }}">{{ vendor.title }}</a></h5>
                            </div>
                        </li><!--/.portfolio-item-->
                    {% endfor %}
                </ul>
                {{ knp_pagination_render(category_vendors) }}
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>

{% endblock %}