{% extends 'base.html.twig' %}
     {% block seo %}
         {% if config['generalConfig'] and  config['bundleConfig'] %}
             {% block website_meta_title %}
                 <meta name="title" content="{{config.generalConfig.mallPreTitle~'|'~config.bundleConfig.metaTitle }}"/>
             {% endblock %}
             {% block website_description %}
                 <meta name="description" content="{{ config.bundleConfig.metaDescription}}"/>
             {% endblock %}
             {% block og_title %}
                 <meta property="og:title" content="{{ config.generalConfig.mallPreTitle~'|'~config.bundleConfig.metaTitle  }}"/>
             {% endblock %}
             {% block og_description %}
                 <meta property="og:description" content="{{ config.bundleConfig.metaDescription }}"/>
             {% endblock %}
             {% block og_type %}
                 <meta property="og:type" content="article"/>
             {% endblock %}
         {% endif %}
     {% endblock %}

{% block inner_content %}

    <!-- Page Content -->
    <div id="mall">
        {% if config.bundleConfig is defined %}
            <div class="center">
                <h3>{{ config.bundleConfig.mallTitle }}</h3>
                {{ config.bundleConfig.mallDescription|raw }}
                {% include 'horizontal_social.html.twig' %}
            </div>
        {% endif %}
        {% if categories is defined %}
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('DesoukOnlineMallBundle:Front:mallCategoriesMenu')) }}

                    {% for category in categories %}
                        <div class="col-md-3 col-xs-12">
                            <div class="member">
                                <p>
                                    <a href="{{ path('mall_category',{'slug':category.slug}) }}">
                                        <img class="img-responsive img-thumbnail img-circle"
                                             src="{{ category.getWebPath() }}" alt="">
                                    </a>
                                </p>

                                <h3>
                                    <a href="{{ path('mall_category',{'slug':category.slug}) }}">{{ category.title }}</a>

                                </h3>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ knp_pagination_render(categories) }}
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}