{% extends 'base.html.twig' %}
{% block inner_content %}

    {% block website_meta_title %}
        <meta name="title" content="{{ "دسوق اون لاين | "~config.mallTitle }}"/>
    {% endblock %}
    {% block website_description %}
        <meta name="description" content="{{ config.mallDescription|striptags }}"/>
    {% endblock %}
    {% block og_image %}
        <meta property="og:image" content="{{ asset('images/logo.jpg') }}"/>
        <meta property="og:image:secure_url" content="{{ app.request.uri }}"/>
    {% endblock %}
    {% block og_title %}
        <meta property="og:title" content="{{ "دسوق اون لاين | "~config.mallTitle }}"/>
    {% endblock %}
    {% block og_description %}
        <meta property="og:description" content="{{ config.mallDescription|striptags }}"/>
    {% endblock %}
    {% block og_author %}
        {#<meta property="article:author" content="{{ product.vendorProductCategory.vendor.title }}"/>#}
    {% endblock %}
    {% block og_type %}
        <meta property="og:type" content="article"/>
    {% endblock %}
    <!-- Page Content -->
    <div id="mall">
        {% if config is defined %}
            <div class="center">
                <h3>{{ config.mallTitle }}</h3>
                {{ config.mallDescription|raw }}
                {% include 'horizontal_social.html.twig' %}
            </div>
        {% endif %}
        {% if categories is defined %}
            <div class="row">
                <div class="col-md-12">
                    {{ render(controller('DesoukOnlineMallBundle:Front:mallCategoriesMenu')) }}

                    {% for category in categories %}
                        <div class="col-md-3 col-xs-12">
                            <div class="member">
                                <p>
                                    <a href="{{ path('mall_category',{'slug':category.slug}) }}">
                                        <img class="img-responsive img-thumbnail img-circle"
                                             src="{{ category.getWebPath() }}" alt="">
                                    </a>
                                </p>

                                <h3>
                                    <a href="{{ path('mall_category',{'slug':category.slug}) }}">{{ category.title }}</a>

                                </h3>
                            </div>

                        </div>
                    {% endfor %}
                </div>
            </div>
            {{ knp_pagination_render(categories) }}
        {% endif %}
    </div>
    <!-- /.container -->

{% endblock %}