{% extends 'base.html.twig' %}
{% block inner_content %}
    {% block website_title %}
        <meta name="title" content="{{ "دسوق اون لاين | "~product.vendorProductCategory.vendor.title  }}"/>
    {% endblock %}
    {% block website_description %}
        <meta name="description" content="{{ product.description|striptags }}"/>
    {% endblock %}
    {% block og_image %}
        <meta property="og:image" content="{{ app.request.uriForPath( product.getWebPath()) }}"/>
        <meta property="og:image:secure_url" content="{{ app.request.uri }}"/>
    {% endblock %}
    {% block og_title %}
        <meta property="og:title" content="{{ "دسوق اون لاين | "~product.vendorProductCategory.vendor.title~' | '~product.name  }}"/>
    {% endblock %}
    {% block og_description %}
        <meta property="og:description" content="{{ product.description|striptags }}"/>
    {% endblock %}
    {% block og_author %}
        {#<meta property="article:author" content="{{ product.vendorProductCategory.vendor.title }}"/>#}
    {% endblock %}
    {% block og_type %}
        <meta property="og:type" content="article"/>
    {% endblock %}

    <div id="vendor_product" class="">
        <div class="container">
            <div class="row">
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                <div class="col-md-9">


                    <div class="row">
                        <div class="col-md-6">

                            <div class="center">
                                <h3>{{ product.name }}</h3>
                            </div>
                            {% if product.price %}
                                <div class="text-right width_49 inline_block">السعر</div>
                                <div class="text-left width_49 inline_block">
                                    <span class="big-price">{{ product.price }} جنية</span>
                                </div>
                                <hr>
                            {% endif %}
                            <div class="caption-full">
                                <p>
                                    {{ product.description|raw }}
                                </p>
                                <hr>
                            </div>
                            {% include 'horizontal_social.html.twig' %}
                            <hr>
                            <div class="desouk_online_rating">
                                {{ ("vendor_product_"~product.id)|show_rating|raw }}
                            </div>

                        </div>
                        {% if product.images %}
                            <div class="col-md-6">
                                <div class="product_gallery">
                                    <a class="gallery"
                                       href="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}"
                                       rel="group" data-rel="prettyPhoto[gallery]1"
                                       title="">

                                        <img src="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}">

                                    </a>
                                    {% for image in product.images %}
                                        <a class="gallery" style="display: none"
                                           href="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}"
                                           rel="group" data-rel="prettyPhoto[gallery]1"
                                           title="">
                                            <img src="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}">

                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="center">اضغط هنا لمشاهدة الصور كاملة</div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="fb-comments" data-href="{{ app.request.uri }}" data-width="100%" data-numposts="5"
                         data-colorscheme="light"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}