{% extends 'base.html.twig' %}
{% block inner_content %}

    <div id="vendor_product" class="">
        <div class="container">
            <div class="row">
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                <div class="col-md-9">

                    <div class="thumbnail">
                        {% if product.images %}

                            <div class="row carousel-holder">

                                <div class="col-md-12">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                        	<li data-target="#carousel-example-generic"  class="active" }}
                                                    data-slide-to="0"></li>
                                            {% for image in product.images %}
                                                <li data-target="#carousel-example-generic"  {{ (loop.index==1)?'class="active"':'' }}
                                                    data-slide-to="{{ loop.index }}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                        	<div class="item active">
                                        		<img class="slide-image" src="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}" alt="">
                                    	 	</div>
                                            {% for image in product.images %}
                                                <div class="item ">
                                                    <img class="slide-image" src="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}"
                                                         alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        {% endif %}
                        <div class="center">
                            <h4>{{ product.name }}</h4>
                            <span class="pull-right big-price">{{ product.price }} جنية</span>
                        </div>
                        <hr>
                        <div class="caption-full">
                            {{ product.description|raw }}
                            <hr>
                        </div>
                        {% include 'horizontal_social.html.twig' %}
                        <hr>
                        <div class="desouk_online_rating">
                            {{ ("vendor_product_"~product.id)|show_rating|raw }}
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}