{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section>
        <div class="container">
            <div class="box">
                <div class="row">
                    <div class="col-md-3">
                        <p class="lead">{{ vendor.title|capitalize }}</p>

                        <div class="list-group">
                            {% for category in vendor.getVendorProductCategories() %}
                                <a href="{{ path('vendor_product_category',{'slug':category.slug}) }}" class="list-group-item">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-9">
                        {% if vendor.banners %}

                            <div class="row carousel-holder">

                                <div class="col-md-12">
                                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                        <ol class="carousel-indicators">
                                            {% for image in vendor.banners.galleryHasMedias %}
                                                <li data-target="#carousel-example-generic"  {{ (loop.index==1)?'class="active"':'' }}
                                                    data-slide-to="{{ loop.index }}"></li>
                                            {% endfor %}
                                        </ol>
                                        <div class="carousel-inner">
                                            {% for image in vendor.banners.galleryHasMedias %}
                                                <div class="item {{ (loop.index==1)?'active':'' }}">
                                                    <img class="slide-image" src="{% path image.media, 'large' %}"
                                                         alt="">
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <a class="left carousel-control" href="#carousel-example-generic"
                                           data-slide="prev">
                                            <span class="glyphicon glyphicon-chevron-left"></span>
                                        </a>
                                        <a class="right carousel-control" href="#carousel-example-generic"
                                           data-slide="next">
                                            <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </div>
                                </div>


                            </div>
                        {% endif %}
                        <div class="row">

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">

                                    <div class="caption">
                                        <h4 class="pull-right">$24.99</h4>
                                        <h4><a href="#">First Product</a>
                                        </h4>

                                        <p>See more snippets like this online store item at <a target="_blank"
                                                                                               href="http://www.bootsnipp.com">Bootsnipp
                                                - http://bootsnipp.com</a>.</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">15 reviews</p>

                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">

                                    <div class="caption">
                                        <h4 class="pull-right">$64.99</h4>
                                        <h4><a href="#">Second Product</a>
                                        </h4>

                                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing
                                            elit.</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">12 reviews</p>

                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">

                                    <div class="caption">
                                        <h4 class="pull-right">$74.99</h4>
                                        <h4><a href="#">Third Product</a>
                                        </h4>

                                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing
                                            elit.</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">31 reviews</p>

                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">

                                    <div class="caption">
                                        <h4 class="pull-right">$84.99</h4>
                                        <h4><a href="#">Fourth Product</a>
                                        </h4>

                                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing
                                            elit.</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">6 reviews</p>

                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4 col-lg-4 col-md-4">
                                <div class="thumbnail">
                                    <img src="http://placehold.it/320x150" alt="">

                                    <div class="caption">
                                        <h4 class="pull-right">$94.99</h4>
                                        <h4><a href="#">Fifth Product</a>
                                        </h4>

                                        <p>This is a short description. Lorem ipsum dolor sit amet, consectetur
                                            adipiscing
                                            elit.</p>
                                    </div>
                                    <div class="ratings">
                                        <p class="pull-right">18 reviews</p>

                                        <p>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>

{% endblock %}