{% extends 'base.html.twig' %}
{% block content %}
    <section id="vendor_product_category" class="inner_page">
        <div class="container">
            <div class="box">
                <div class="row">
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':vendor_product_category.vendor.slug})) }}
                    <div class="upper_data">
                        <div class="center">
                            <h4>{{ vendor_product_category.title }}</h4>
                            <p class="lead">{{ vendor_product_category.description|raw }}</p>
                        </div>
                    </div>
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':vendor_product_category.vendor.slug})) }}
                    <div class="col-md-9 ">

<div class="col-md-12">

                        {% for product in category_products %}

                            <div class="portfolio-item col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                        <img src="{{product.getWebPath()}}" alt="">
                                    </a>

                                    <div class="caption">
                                        <h4 class="pull-left">{{ product.price }} جنية</h4>
                                        <h4>
                                            <a href="{{ path('vendor_product',{'slug':product.slug}) }}">{{ product.name }}</a>
                                        </h4>

                                        {{ product.description|striptags|slice(0, 90) }}
                                        <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                            المزيد </a>
                                    </div>
                                    <div class="desouk_online_rating">
                                        {{ ("vendor_product_"~product.id)|show_rating|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
</div>
                    </div>
                </div>
                {{ knp_pagination_render(category_products) }}
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>
{% endblock %}