{% extends 'base.html.twig' %}
{% block inner_content %}

    <div id="vendor_product" class="">
        <div class="container">
            <div class="row">
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                <div class="col-md-9">


                    <div class="row">
                        <div class="col-md-6">

                            <div class="center">
                                <h3>{{ product.name }}</h3>
                            </div>
                            {% if product.price %}
                                <div class="text-right width_49 inline_block">السعر</div>
                                <div class="text-left width_49 inline_block">
                                    <span class="big-price">{{ product.price }} جنية</span>
                                </div>
                                <hr>
                            {% endif %}
                            <div class="caption-full">
                                {{ product.description|raw }}
                                <hr>
                            </div>
                            {% include 'horizontal_social.html.twig' %}
                            <hr>
                            <div class="desouk_online_rating">
                                {{ ("vendor_product_"~product.id)|show_rating|raw }}
                            </div>

                        </div>
                        {% if product.images %}

                            <div class="col-md-6">
                                <div class="product_gallery">
                                    <a class="gallery"
                                       href="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}"
                                       rel="group" data-rel="prettyPhoto[gallery]1"
                                       title="">

                                        <img src="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}">

                                    </a>
                                    {% for image in product.images %}
                                        <a class="gallery" style="display: none"
                                           href="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}"
                                           rel="group" data-rel="prettyPhoto[gallery]1"
                                           title="">
                                            <img src="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}">

                                        </a>
                                    {% endfor %}
                                </div>
                                <div class="center">اضغط هنا لمشاهدة الصور كاملة</div>
                            </div>
                        {% endif %}

                    </div>
                    <div class="fb-comments" data-href="{{ app.request.uri }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}