{% extends 'base.html.twig' %}
{% block inner_content %}
    <div id="vendor_product_category" class="">
        <div class="container">
                <div class="row">
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':vendor_product_category.vendor.slug})) }}
                    <div class="upper_data">
                        <div class="center">
                            <h4>{{ vendor_product_category.title }}</h4>
                            <p class="lead">{{ vendor_product_category.description|raw }}</p>
                        </div>
                    </div>
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':vendor_product_category.vendor.slug})) }}
                    <div class="col-md-9 ">

<div class="col-md-12">

                        {% for product in category_products %}

                            <div class="portfolio-item col-md-4">
                                <div class="thumbnail">
                                    <a href="{{ path('vendor_product',{'slug':product.slug}) }}">
                                        <img src="{{product.getWebPath()}}" alt="">
                                    </a>

                                    <div class="caption">
                                        <div class="center">
                                            <h4>
                                                <a href="{{ path('vendor_product',{'slug':product.slug}) }}">{{ product.name }}</a>
                                            </h4>
                                        </div>
                                            <span class="">
                                                <label class="">السعر</label>
                                                <span class="pull-left price">{{ product.price }} جنية</span>
                                            </span>

                                        <br>
                                        <p>{{ product.description|striptags|slice(0, 90) }}</p>
                                        <a href="{{ path('vendor_product',{'slug':product.slug}) }}" class="">
                                            المزيد </a>
                                    </div>
                                    <div class="desouk_online_rating">
                                        {{ ("vendor_product_"~product.id)|show_rating|raw }}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
</div>
                    </div>
                </div>
                {{ knp_pagination_render(category_products) }}
            <!--/.box-->
        </div>
        <!--/.container-->
    </div>
{% endblock %}