{% extends 'base.html.twig' %}
{% block seo %}
    {% if config['generalConfig'] and  config['bundleConfig'] %}
        {% block website_meta_title %}
            <meta name="title"
                  content="{{ config.generalConfig.mallPreTitle~'|'~article.vendor.title ~'|'~article.title }}"/>
        {% endblock %}
        {% block website_description %}
            <meta name="description" content="{{ article.summary }}"/>
        {% endblock %}
        {% block og_title %}
            <meta property="og:title"
                  content="{{ config.generalConfig.mallPreTitle~'|'~article.vendor.title ~'|'~article.title }}"/>
        {% endblock %}
        {% block og_description %}
            <meta property="og:description" content="{{ article.summary }}"/>
        {% endblock %}
        {% block og_type %}
            <meta property="og:type" content="article"/>
        {% endblock %}
    {% endif %}
{% endblock %}

{% block inner_content %}
    <div id="vendor_product" class="">
        <div class="container">
            <div class="box">

                <div class="row">
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':article.vendor.slug})) }}
                    {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':article.vendor.slug})) }}
                    <div class="col-md-9">
                        <div class="center">
                            <h4>{{ article.title }}</h4>
                            {% include 'horizontal_social.html.twig' %}

                        </div>

                        {{ article.description|raw }}
                    </div>

                </div>

            </div>
        </div>
    </div>

{% endblock %}