{% extends 'base.html.twig' %}
{% block content %}

    <section id="vendor_product">
        <div class="container">
            <div class="box">

                <div class="row">

                    <div class="col-md-3">
                        <p class="lead">Shop Name</p>

                        <div class="list-group">
                            {% for category in product.vendorProductCategory.vendor.getVendorProductCategories() %}
                                <a href="{{ path('vendor_product_category',{'slug':category.slug}) }}"
                                   class="list-group-item">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-md-9">

                        <div class="thumbnail">
                            {% if product.gallery %}

                                <div class="row carousel-holder">

                                    <div class="col-md-12">
                                        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                {% for image in product.gallery.galleryHasMedias %}
                                                    <li data-target="#carousel-example-generic"  {{ (loop.index==1)?'class="active"':'' }}
                                                        data-slide-to="{{ loop.index }}"></li>
                                                {% endfor %}
                                            </ol>
                                            <div class="carousel-inner">
                                                {% for image in product.gallery.galleryHasMedias %}
                                                    <div class="item {{ (loop.index==1)?'active':'' }}">
                                                        <img class="slide-image" src="{% path image.media, 'large' %}"
                                                             alt="">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                            <a class="left carousel-control" href="#carousel-example-generic"
                                               data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                            </a>
                                            <a class="right carousel-control" href="#carousel-example-generic"
                                               data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                            </a>
                                        </div>
                                    </div>


                                </div>
                            {% endif %}
                            <div class="caption-full">
                                <h4 class="pull-right">{{ product.price }} LE</h4>
                                <h4><a href="#">{{ product.name }}</a>
                                </h4>

                                {{ product.description|raw }}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>

{% endblock %}