<div class="col-md-3 col-xs-12">
    <div class="list-group">
        {% for category in vendor.getVendorProductCategories() if category.getProducts()|length>0%}
            <a href="{{ path('vendor_product_category',{'slug':category.slug}) }}"
               class="list-group-item">{{ category.title }}</a>
        {% endfor %}
        {% for article in vendor.getArticles %}
            <a href="{{ path('vendor_article',{'slug':article.slug}) }}"
               class="list-group-item">{{ article.title }}</a>
        {% endfor %}
    </div>
    {#{% include 'horizontal_social.html.twig' %}#}
    <div class="center">    {{ render(controller('DesoukOnlineVisitorsBundle:Front:visitors')) }}</div>

</div>
