{% extends 'base.html.twig' %}
{% block inner_content %}

    <div id="vendor_product" class="">
        <div class="container">
            <div class="row">
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorHeaderMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                {{ render(controller('DesoukOnlineMallBundle:Front:vendorMenu',{'slug':product.vendorProductCategory.vendor.slug})) }}
                <div class="col-md-9">

                    <div class="">
                        {% if product.images %}

                            <div class="row">
                                <div class="col-md-6">

                                    <div class="center">
                                        <h3>{{ product.name }}</h3>
                                    </div>
                                    <div class="text-right width_49 inline_block" >السعر</div>
                                    <div class="text-left width_49 inline_block">
                                        <span class="big-price">{{ product.price }} جنية</div>
                                    </span>
                                    <hr>
                                    <div class="caption-full">
                                        {{ product.description|raw }}
                                        <hr>
                                    </div>
                                    {% include 'horizontal_social.html.twig' %}
                                    <hr>
                                    <div class="desouk_online_rating">
                                        {{ ("vendor_product_"~product.id)|show_rating|raw }}
                                    </div>


                                </div>

                                <div class="col-md-6">
                                    <div class="product_gallery">
                                        <a class="gallery"
                                           href="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}"
                                           rel="group" data-rel="prettyPhoto[gallery]1"
                                           title="">

                                            <img src="{{ (product.path())?product.getWebPath():asset('images/default/default_product_image.png') }}">

                                        </a>
                                        {% for image in product.images %}
                                            <a class="gallery" style="display: none"
                                               href="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}"
                                               rel="group" data-rel="prettyPhoto[gallery]1"
                                               title="">
                                                <img src="{{ (image.path())?image.getWebPath():asset('images/default/default_product_image.png') }}">

                                            </a>
                                        {% endfor %}
                                    </div>
                                    <div class="center">اضغط هنا لمشاهدة الصور كاملة</div>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {


            $("a.gallery").fancybox({
                'transitionIn': 'elastic',
                'transitionOut': 'elastic',
                'speedIn': 600,
                'speedOut': 200,
                'overlayShow': false,
                beforeShow: function () {
                    this.maxWidth = 800;
                    this.maxHeight = 500;
                }
            });

        });
    </script>
{% endblock %}