{% extends 'base.html.twig' %}
{% block content %}
    <!-- Page Content -->
    <section id="mall_category" class="inner_page">
        <div class="container">
            <div class="reaestate_box">
                <div class="center">
                    <h3>سيارات دسوق</h3>
                </div>
                {{ render(controller('DesoukOnlineCarBundle:Front:sideFilter', { 'type': app.request.get('type'),'mark': app.request.get('mark') })) }}
                <div class="row reaestate_items col-md-12">
                    {% for car in cars %}
                    <div class="col-sm-4 col-lg-4 col-md-4 ">
                        <div class="reaestate_item_inner  thumbnail">
                            <div class="realestate_image">
                                <a href="{{ path('car_show',{'slug':car.slug}) }}">
                                    <img src="{{ car.getWebPath() }}" alt="">
                                </a>
                            </div>
                            <div class="caption">
                                <h4>
                                    <a href="{{ path('car_show',{'slug':car.slug}) }}">{{ car.title }}</a>
                                </h4>
                                <label>السعر :</label>
                                <span>{{ car.price }} جنيه</span><br>
                                <label>النوع :</label>
                                <span>{{ car.type }}</span><br>
                                {% if car.mark %}
                                    <label>الماركة :</label>
                                    <span>{{ car.mark.name }}</span>
                                {% endif %}
                                {{ car.summary }}
                            </div>
                        </div>
                    </div>

                </div>
                <!--/.portfolio-item-->
                {% endfor %}
                </ul>
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </section>
{% endblock %}