{% extends 'base.html.twig' %}
{% block inner_content %}
    <!-- Page Content -->
    {% block website_meta_title %}
        <meta name="title" content="{{"دسوق اون لاين | سيارات"~' | '~car.title}}"/>
    {% endblock %}
    {% block website_description %}
        <meta name="description" content="{{ car.description|striptags }}"/>
    {% endblock %}
    {% block og_image %}
        <meta property="og:image" content="{{ app.request.uriForPath( has_slider?car.getWebPath():asset('images/default/default_car_image.png')) }}"/>
        {#<meta property="og:image:secure_url" content="{{ app.request.uri }}"/>#}
    {% endblock %}
    {% block og_title %}
        <meta property="og:title"
              content="{{"دسوق اون لاين | سيارات"~' | '~car.title}}"/>
    {% endblock %}
    {% block og_description %}
        <meta property="og:description" content="{{ car.description|striptags }}"/>
    {% endblock %}
    {% block og_author %}
        {#<meta property="article:author" content="{{ product.vendorProductCategory.vendor.title }}"/>#}
    {% endblock %}
    {% block og_type %}
        <meta property="og:type" content="article"/>
    {% endblock %}
    <div id="mall_category" class="car_show">
        <div class="row">
            {{ render(controller('DesoukOnlineCarBundle:Front:sideFilter', { 'type': car.type,'mark': car.mark })) }}
            <div class="reaestate_items col-md-9">
                <div class="center"><h3>{{ car.title }}</h3></div>
                <hr>
                <div class="row">
                    <div class="col-md-6">
                        <div class="reaestate_items container">
                            <div class="reaestate_item apps">
                                <div class="reaestate_item_inner">
                                    <div class="car_properities">
                                        {% if car.price %}
                                            <div class="text-right width_49 inline_block">السعر</div>
                                            <div class="text-left width_49 inline_block">
                                                <span class="big-price">{{ car.price }} جنية</span>
                                            </div>
                                            <hr>
                                        {% endif %}
                                        {% if car.type %}
                                            <div class="text-right width_49 inline_block">النوع</div>
                                            <div class="text-left width_49 inline_block">
                                                <span class="">{{ car.type }}</span>
                                            </div>
                                            <hr>
                                        {% endif %}

                                        {% if car.mark %}
                                            <div class="text-right width_49 inline_block">الماركة</div>
                                            <div class="text-left width_49 inline_block">
                                                <span class="">{{ car.mark.name }}</span>
                                            </div>
                                            <hr>
                                        {% endif %}
                                        <div class="car_summary">
                                            {{ car.description|raw }}
                                        </div>
                                        <hr>
                                        {% include 'horizontal_social.html.twig' %}
                                        <hr>
                                        <div class="desouk_online_rating">
                                            {{ ("car_"~car.id)|show_rating|raw }}
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--/.portfolio-item-->
                        </div>
                    </div>

                    {% if has_slider %}

                        <div class="col-md-6">
                            <div class="product_gallery">
                                <a class="gallery"
                                   href="{{ (car.path())?car.getWebPath():asset('images/default/default_car_image.png') }}"
                                   rel="group" data-rel="prettyPhoto[gallery]1"
                                   title="">

                                    <img src="{{ (car.path())?car.getWebPath():asset('images/default/default_car_image.png') }}">

                                </a>
                                {% for image in car.images %}
                                    <a class="gallery" style="display: none"
                                       href="{{ (image.path())?image.getWebPath():asset('images/default/default_car_image.png') }}"
                                       rel="group" data-rel="prettyPhoto[gallery]1"
                                       title="">
                                        <img src="{{ (image.path())?image.getWebPath():asset('images/default/default_car_image.png') }}">

                                    </a>
                                {% endfor %}
                            </div>
                            <div class="center">اضغط هنا لمشاهدة الصور كاملة</div>
                        </div>


                    {% else %}
                        <div class="center">
                            <img src="{{ asset('images/default/default_car_image.png') }}"/>
                        </div>
                    {% endif %}

                </div>
                <div class="fb-comments" data-href="{{ app.request.uri }}" data-width="100%" data-numposts="5" data-colorscheme="light"></div>

            </div>
        </div>
        <!--/.box-->
    </div>
    <!--/.container-->
{% endblock %}
