{% extends 'base.html.twig' %}
{% block inner_content %}
    <!-- Page Content -->
    <div id="mall_category" class="car_show">
        <div class="container">
            <div class="row">
                <div class="center">
                    <div class="realestate_title">
                        <h3>{{ car.title }}</h3>
                    </div>
                </div>
                {{ render(controller('DesoukOnlineCarBundle:Front:sideFilter', { 'type': car.type,'mark': car.mark })) }}
                <div class="col-md-9">
                    {% if has_slider %}

                        <div id="carousel-example-generic" class="carousel slide col-md-12" data-ride="carousel"
                             style="padding-right: 20px;">
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-example-generic" class="active"
                                    data-slide-to="0"></li>
                                {% for image in car.images %}
                                    <li data-target="#carousel-example-generic"
                                        data-slide-to="{{ loop.index }}"></li>
                                {% endfor %}
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src="{{ car.getWebPath() }}" alt="">
                                </div>
                                {% for image in car.images %}
                                    <div class="item ">
                                        <img class="slide-image" src="{{ image.getWebPath() }}" alt="">
                                    </div>
                                {% endfor %}
                            </div>
                            <a class="left carousel-control" href="#carousel-example-generic"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left"></span>
                            </a>
                            <a class="right carousel-control" href="#carousel-example-generic"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        </div>


                    {% endif %}


                    <div class="reaestate_items col-md-12 container">
                        <div class="reaestate_item apps">
                            <div class="reaestate_item_inner">

                                <div class="realestate_properities">
                                    <h4>
                                        <div class="desouk_online_rating">
                                            {{ ("car_"~car.id)|show_rating|raw }}
                                        </div>


                                        السعر : <span>{{ car.price }} جنيه</span></h4>
                                    <h4>
                                        النوع : <span>{{ car.type }}</span>
                                    </h4>
                                    {% if car.mark %}
                                        <h4>
                                            الماركة : <span>{{ car.mark.name }}</span>
                                        </h4>
                                    {% endif %}
                                </div>
                                <div class="realestate_summary">
                                    {{ car.description|raw }}
                                </div>
                            </div>
                        </div>
                        <!--/.portfolio-item-->
                    </div>
                </div>
            </div>
            <!--/.box-->
        </div>
        <!--/.container-->
    </div>
{% endblock %}
