{% extends 'base.html.twig' %}
{% block seo %}
    {% if config['generalConfig'] and  config['bundleConfig'] %}
        {% block website_meta_title %}
            <meta name="title" content="{{ config.generalConfig.generalModulesPreTitle~'|'~config.generalConfig.realEstateMiddleOfTitleInIndex }}"/>
        {% endblock %}
        {% block website_description %}
            <meta name="description" content="{{ config.bundleConfig.metaDescription }}"/>
        {% endblock %}
        {% block og_title %}
            <meta property="og:title" content="{{ config.generalConfig.generalModulesPreTitle~'|'~config.generalConfig.realEstateMiddleOfTitleInIndex }}"/>
        {% endblock %}
        {% block og_description %}
            <meta property="og:description" content="{{ config.bundleConfig.metaDescription }}"/>
        {% endblock %}
        {% block og_type %}
            <meta property="og:type" content="article"/>
        {% endblock %}

    {% endif %}
{% endblock %}
    {% block inner_content %}
        <!-- Page Content -->
        <div id="mall_category" class="real_estate">
        <div class="container">
        <div class="reaestate_box">
            <div class="center">
                <h3>عقارات دسوق</h3>
                {% include 'horizontal_social.html.twig' %}
            </div>
            <div class="row">
                {{ render(controller('DesoukOnlineRealEstateBundle:Front:sideFilter', { 'purpose': app.request.get('purpose'),'type': app.request.get('type'),'area': app.request.get('area') })) }}
                <div class="col-sm-9 col-lg-9 col-md-9">
                    {% for realestate in realestates %}
                        <div class="col-sm-6 col-lg-6 col-md-6">
                            <div class="thumbnail">
                                <a class="img_container" href="{{ path('realestate_show',{'slug':realestate.slug}) }}">
                                    <img src="{{ (realestate.path())?realestate.getWebPath():asset('images/default/default_real_estate_image.png') }}" alt="">
                                </a>

                                <div class="caption">
                                    <h4>
                                        <p class="center"><a
                                                    href="{{ path('realestate_show',{'slug':realestate.slug}) }}">{{ realestate.title }}</a>
                                        </p>
                                    </h4>
                                    <span class="">
                                        <label class="">تاريخ الإعلان</label>
                                        <span class="pull-left">{{ realestate.createdAt|date("Y/m/d") }}</span>
                                    </span>
                                    {% if realestate.price %}
                                        <br>
                                        <span class="">
                                        <label class="">السعر</label>
                                        <span class="pull-left price">{{ realestate.price }} جنية</span>
                                    </span>
                                    {% endif %}
                                    <br>
                                    <span class="">
                                        <label class="">النوع</label>
                                        <span class="pull-left">{{ realestate.type }}</span>
                                    </span>
                                    <br>
                                    <span class="">
                                        <label class="">الغرض</label>
                                        <span class="pull-left">{{ realestate.purpose }}</span>
                                    </span>
                                    <br>

                                    <div class="caption">
                                        {{ realestate.summary|slice(0,55) }}
                                        <a href="{{ path('realestate_show',{'slug':realestate.slug}) }}" class="">
                                            المزيد </a>
                                    </div>


                                    <div class="desouk_online_rating">
                                        {{ ("realestate_"~realestate.id)|show_rating|raw }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}
                    <div class="col-sm-9 col-lg-9 col-md-9">
                        {{ knp_pagination_render(realestates) }}
                        <!--/.box-->
                    </div>
                </div>
            </div>
            <!--/.container-->
        </div>
    {% endblock %}