{% extends '::base.html.twig' %}
 {% block body %}
     <!-- Page Title -->
     <section id="page-title">
         <div class="grid-bg">
             {{ render(controller('DesoukOnlineBannerBundle:Front:banner',{'configBanner':config.getProductsBanner(), 'itemBanner':null})) }}
             <div class="container"> <!-- 1080 pixels Container -->
                 <div class="full-width columns">
                 </div>
             </div>
             <div class="container_title_stripe blue">
                 <ul class="breadcrumb-nav clearfix">
                     <li><a href="{{ path('home') }}" class="link-sm">Home<span></span></a></li>
                     <li>Categories</li>
                 </ul>
                 <h1>Categories</h1>
             </div>
         </div>
     </section>


     <!-- Page Content -->
     <section id="page-content" class="sidebar-layout">

         <div class="container"> <!-- 1080 pixels Container -->

             <!-- Content with left-aligned Sidebar -->
             <div class="columns-wrapper sb-left">

                 <!-- Sidebar (left aligned) -->
                 <aside id="sidebar" class="one-fourth columns page-left-col">

                     <!-- Side Menu -->
                     <div class="widget" data-smallscreen="yes"> <!-- show widget on a small-screen mobile device: "yes" or "no" -->
                         {{ menu|raw }}
                     </div>

                     <!-- Simple Text Widget -->
                     <div class="widget separator" data-smallscreen="no">
                         <h4 class="grey mb-30px">Downloads</h4>

                         <div class="flickr-widget clearfix">
                             {#<script type="text/javascript"#}
                             {#src="http://www.flickr.com/badge_code_v2.gne?count=6&amp;display=random&amp;size=s&amp;layout=x&amp;source=user_set&amp;set=72157622590393532"></script>#}

                             {{ render(controller('DesoukOnlineDownloadsBundle:Front:widget')) }}
                         </div>
                     </div>

                 </aside>
                 <!-- end Sidebar -->

                 <!-- Page Right Column -->
                 <section id="main-content" class="three-fourths columns page-right-col"> <!-- inner grid 840 pixels wide -->

                     <!-- Gallery -->
                     <div class="gallery-wrapper three-cols clearfix">
                         <!-- 1/3 page width -->

                         {% for category in categories %}
                             {#<a href="{{ path('product_category' , {'slug':category.slug}) }}">{{ category.name }}</a>#}
                             <div class="one-third columns gallery-item">
                                 <div class="item-picture" data-type="image">
                                     {% if(category.image) %}
                                         {% thumbnail category.image, 'small' %}

                                     <div class="image-overlay">
                                         <a href="{% path  category.image, 'wide' %}" data-rel="prettyPhoto[gallery]" title="{{ category.name }}"><span class="zoom"></span></a>
                                     </div>
                                     <span class="item-label">{{ category.name }}</span>
                                     {% endif %}
                                 </div>
                             </div>
                             {% if loop.index%3 == 0 %}
                                 <div class="clear"></div>
                             {% endif %}
                         {% endfor %}
                     </div>
                     <!-- end Gallery -->
                     <div class="full-width columns">
                         <hr class="divider-line dotted colored mb-25px">
                         <nav class="pagination clearfix">
                                 {{ knp_pagination_render(categories) }}
                         </nav>
                     </div>
                 </section>
                 <!-- end Page Right Column -->

             </div> <!-- end columns-wrapper sb-left -->

         </div>

     </section>
     <!-- end Page Content -->
     <style>
         #sidebar.page-left-col .side-menu>li>ul.side-menu{
             margin-right: 14px;
         }
     </style>
 {% endblock %}