{% extends '::base.html.twig' %}
 {% block body %}
     <!-- Page Title -->
     <section id="page-title">
         <div class="grid-bg">
             {{ render(controller('DesoukOnlineBannerBundle:Front:banner',{'configBanner':config.getCareersBanner(), 'itemBanner':null})) }}
             <div class="container"> <!-- 1080 pixels Container -->
                 <div class="full-width columns">
                 </div>
             </div>
             <div class="container_title_stripe blue">
                 <ul class="breadcrumb-nav clearfix">
                     <li><a href="{{ path('home') }}" class="link-sm">Home<span></span></a></li>
                 </ul>
                 <h1>Products search</h1>
             </div>
         </div>
     </section>
     <section id="page-content">

         <div class="container"> <!-- 1080 pixels Container -->

             <div class="full-width columns">
                 <h2><strong>Search results for `{{ search }}`</strong></h2>
               {% if results|length==0 %}
                   No results found
               {% else %}
                 {% for result in results %}
                     <h3><a href="{{ path('product_show',{'slug':result.slug}) }}">{{ result.name }}</a></h3>
                     <div class="career-desc">
                         <p class="middle-font-size light-grey mb-30px">
                             {{ result.description|raw }}
                         </p>
                     </div>
                 {% endfor %}
               {% endif %}
             </div>
         </div>
     </section>
     <style>
         #sidebar.page-left-col .side-menu > ul.side-menu {
             margin-right: 14px;
         }
     </style>
 {% endblock %}